<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <hr/>
    <form action="/upload" method="post" enctype="multipart/form-data" id='upload-form'>
      <input type="file"/>
      <input id="btn-submit" type="submit" value="上传" class="btn btn-info"/>
    </form>
  </body>
</html>
